 
 /* Big tablets to desktop, ie 1024px to 1200px  */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;        
    }

    .row { padding: 0 2%; }
}
 
 /* Small tablet to big tablet, ie 768px to 1023px  */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }

    section { padding: 60px 0; }
        
    .long-copy {
        width: 80%;
        margin-left: 10%; /* Because 10% left and 10% right, along with the 80% width above, makes it 100%, so it should center this paragraph*/
    }

}


/* Small phoes to phablets*, ie 481px to 767px */
@media only screen and (max-width: 767px) {

}

/* Screen dimension for small smartphones */
 @media only screen and (max-width: 480px) {

 }